@use "../variables" as *;

/*Hero section styles*/
.projects-hero {
  padding: $spacing-medium 0;

  &-title {
    margin-top: 0;
    margin-bottom: $spacing-medium;
    font-size: $header-primary-size;
    line-height: $large-line-height;
  }

  &-text {
    line-height: $small-line-height;
    opacity: $opacity-dark;
  }

  &-project {
    max-width: 335px;
    width: 100%;
  }

  &-project-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 35px;
    padding: 18px 0;
    border-bottom: $border-thin;
    font-size: $font-size-medium;
  }

  &-project-title {
    opacity: $opacity-light;
  }
}

/*Main styles*/
.projects-main {
  margin-top: $spacing-medium;

  &-text {
    line-height: $small-line-height;
    opacity: $opacity-dark;
    padding: $spacing-large 0;
  }

  &-imgs {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-large;
  }
}
