@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  max-width: $max-width;
  margin: 0 auto;
  color: $primary;
}

.main-text {
  font-size: $font-size-normal;
}

/*Link styles*/

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary;
}

a:hover {
  color: $secondary;
}

a:active {
  position: relative;
  top: 2px;
}

a:visited {
  color: $secondary;
}

.bold {
  font-weight: $bold;
}
