@use "variables" as *;

.footer {
  display: flex;
  justify-content: space-between;
  padding: 47px 0 47px 0;

  &-items,
  &-icons,
  &-links {
    display: flex;
  }

  &-link {
    margin-left: $spacing-medium;
    font-size: $font-size-medium;
  }

  &-icons,
  &-icon {
    margin-left: 47px;
  }
}
