@use "variables" as *;

.navbar {
  padding: 60px 0 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-items {
    display: flex;
    gap: 29px;
  }

  &-link {
    font-weight: bold;
    font-size: $font-size-medium;
  }
}
