/*Heading*/
$header-primary-size: 40px;
$header-secondary-size: 28px;

/*Font*/
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-large: 22px;
$font-main:
  "Mulish",
  sans serif;

/*Line-height*/
$large-line-height: 55px;
$small-line-height: 26px;
$bold: bold;

/*Colour*/
$primary: #111111;
$secondary: #4a4ff2;

/*Opacity*/
$opacity-light: 60%;
$opacity-dark: 80%;

/*Body styles*/
$max-width: 1100px;
