@use "variables" as *;
@use "base";
@use "nav";
@use "footer";
@use "hero";
@use "pages/project";
@use "pages/contact";

.home-hero {
  margin-bottom: 72px;
  align-items: flex-end;

  h1 {
    line-height: 60px;
    font-size: $header-primary-size;
    margin-bottom: 0;
  }

  p span,
  h1 span {
    color: $secondary;
  }

  p span {
    font-weight: $bold;
    font-size: $font-size-large;
  }

  &-small-text {
    max-width: 300px;
    width: 100%;
    font-size: $font-size-normal;
    opacity: 60%;
  }

  &-small-text p {
    opacity: 60%;
    font-style: italic;
  }

  &-small-text hr {
    background-color: $primary;
    border: none;
    width: 30px;
    height: 2px;
    opacity: 50%;
    margin-bottom: 9px;
  }
}

.image-grid {
  padding: 72px 0 45px 0;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(32, 1fr);
  gap: 20px;

  &-one {
    grid-area: 1 / 1 / 8 / 4;
  }

  &-two {
    grid-area: 1 / 4 / 7 / 7;
  }

  &-three {
    grid-area: 1 / 7 / 11 / 10;
  }

  &-four {
    grid-area: 8 / 1 / 16 / 4;
  }

  &-five {
    grid-area: 7 / 4 / 14 / 7;
  }

  &-six {
    grid-area: 11 / 7 / 18 / 10;
  }

  &-seven {
    grid-area: 16 / 1 / 24 / 4;
  }

  &-eight {
    grid-area: 14 / 4 / 23 / 7;
  }

  &-nine {
    grid-area: 18 / 7 / 27 / 10;
  }

  &-ten {
    grid-area: 24 / 1 / 33 / 4;
  }

  &-eleven {
    grid-area: 23 / 4 / 33 / 7;
  }

  &-twelve {
    grid-area: 27 / 7 / 33 / 10;
  }
}

.explore {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 50px 0;

  &-text {
    max-width: $max-width-small;
    line-height: 38px;
    font-weight: $bold;
    font-size: $header-secondary-size;
  }

  &-items {
    display: flex;
  }

  &-links {
    padding: 0 30px 0 30px;
  }

  &-link {
    display: block;
    padding: 5px 0 5px 0;
    color: $primary;
    opacity: $opacity-light;
  }

  &-link:hover {
    color: $secondary;
  }
}
